<h2>Cadastro de diretores</h2>

<div>
  <% if flash[:notice] %>

    <div style="margin: 10px 0px">
      <%= flash[:notice] %>
    </div>

  <% end %>
</div>


<div>
  <%= render partial: 'form', locals: { director: @director } %>
</div>

<p><%= link_to 'Diretores', directors_path%></p>
