<h1>Bem-vindo(a) ao Catálogo de Filmes</h1>

<h3>Escolha a lista que deseja visualisar:</h3>

<ul>
    <li><%= link_to 'Filmes', movies_path%></li>
    <li><%= link_to 'Diretores', directors_path%></li>
    <li><%= link_to 'Gêneros', genres_path%></li>
</ul>